.mobile-nav {
    display: none;
}

.desktop-nav {
    width: 100%;
    position: relative;
    z-index: 999;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 1fr repeat(auto-fit, minmax(0,1fr));
    grid-auto-flow: column;
    align-items: center;
    background-color: rgb(73, 70, 70);
    width: auto;
    height: auto;
 }

.nav-button{
    grid-column: 1 / 2;
    background-color: lightgray;
    height: 100%;
    max-height: 100%;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    text-align: start;
    border-style: none;
    font-weight: bold;
    padding: 1% ;
}

.nav-logo {
    max-height: 10vh;
    width: auto;
    padding: 10%;
}

.nav-title {
    align-self: center;
    text-decoration: underline;
    text-decoration-color:  lightgray;
    color: gray;
    font-size: calc(0.5vw + 1vh);
}

.crusa {
    align-self: center;
    color: rgb(219, 63, 63);
    font-size: calc(0.5vw + 1vh);
}

.links {
    grid-column: 2 / 8;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
}

.link-btn {
    cursor: pointer;
    text-align: center;
    background-color: rgb(73, 70, 70);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-size: calc(0.5vw + 1vh);
    &:hover {
        background-color: rgb(124, 118, 118);
    }
    &:active {
        background-color: rgb(102, 102, 102);
    }
}

/* Media styles for phones */
/* Media styles */
/* Media for Mobile Devices */
  /* Media for Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {
   .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-content: center;
        height: 5vh;
    }

    .sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5vh;
    }

    nav {
        height: 5vh;
        align-content: center;
     }

    .HamburgerMenu{
        grid-column:  2 / 3;
        height: 5vh;
        cursor: pointer;
      }

      .nav-button{
        grid-column: 1 / 2;
        align-content: center;
        justify-content: center;
        text-align: start;
        height: 5vh;

    }
    
    .nav-logo {
        max-height: 5vh;
        width: auto;
        padding: 10%;
    }

    .nav-title {
        align-self: center;
        text-decoration: underline;
        text-decoration-color:  lightgray;
        color: gray;
        font-size: calc(1vw + 1vh);
    }
    
    .crusa {
        align-self: center;
        color: rgb(219, 63, 63);
        font-size: calc(1vw + 1vh);
    }
    
    .links {
        display: grid;
        grid-auto-flow: row;
        position: absolute;
        top: 5vh;
        right: 0;
        height: 20vh;
        width: auto;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        background-color: lightgrey;
        z-index: 3;
    }

    .link-btn {
        width: fit-content;
        cursor: pointer;
        text-align: center;
        background-color: lightgray;
        color: rgb(44, 42, 42);
        font-weight: bold;
        padding: 5px 50px;
        border-radius: 10px;
        border-style: none;
        font-size: calc(0.5vw + 1vh);
        &:hover {
            background-color: rgb(124, 118, 118);
        }
        &:active {
            background-color: rgb(102, 102, 102);
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-content: center;
        height: 10vh;
    }

    .sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
    }

    nav {
        height: 10vh;
        align-content: center;
     }

    .HamburgerMenu{
        grid-column:  2 / 3;
        height: 10vh;
        cursor: pointer;
      }

      .nav-button{
        grid-column: 1 / 2;
        align-content: center;
        justify-content: center;
        text-align: start;
        height: 10vh;

    }
    
    .nav-logo {
        max-height: 10vh;
        width: auto;
        padding: 10%;
    }

    .nav-title {
        align-self: center;
        text-decoration: underline;
        text-decoration-color:  lightgray;
        color: gray;
        font-size: calc(1.5vw + 1vh);
    }
    
    .crusa {
        align-self: center;
        color: rgb(219, 63, 63);
        font-size: calc(1.5vw + 1vh);
    }
    
    .links {
        display: grid;
        grid-auto-flow: row;
        position: absolute;
        top: 10vh;
        right: 0;
        height: fit-content;
        width: auto;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        background-color: lightgrey;
        z-index: 3;
    }

    .link-btn {
        cursor: pointer;
        z-index: 4;
        text-align: center;
        background-color: lightgray;
        color: rgb(44, 42, 42);
        font-weight: bold;
        padding: 5px 50px;
        border-radius: 10px;
        border-style: none;
        font-size: calc(0.5vw + 1vh);
        &:hover {
            background-color: rgb(124, 118, 118);
        }
        &:active {
            background-color: rgb(102, 102, 102);
        }
    }
}

  /* Media for small screens and Laptops */
  @media (min-width: 769px) and (max-width: 1024px) {
      .nav-button{
        align-content: center;
        justify-content: center;
        text-align: start;
    }

    .nav-logo {
        max-height: 10vh;
        width: auto;
        padding: 10%;
    }

    .nav-title {
        align-content: center;
        text-decoration: underline;
        text-decoration-color:  lightgray;
        color: gray;
        font-size: calc(1.1vw + 1.1vh);
    }
    
    .crusa {
        color: rgb(219, 63, 63);
        font-size: calc(1.1vw + 1.1vh);
    }

    .links {
        display: grid;
        grid-auto-flow: row;
        position: absolute;
        top: 10vh;
        right: 0;
        height: 20vh;
        width: auto;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        background-color: lightgrey;
        z-index: 3;
    }

    .link-btn {
        font-size: calc(1vw + 1vh);
        text-align: center;
        padding: 5px 20px;
   }
  }

  /* Media for Desktops and large screens */
  @media (min-width: 1025px) and (max-width: 1200px) { }
  
  /* Media for extra large screens and TVs */
  @media (min-width: 1201px) { }
  
  
  