.footer-container {
    width: 100%;
    max-width: 100%;
    padding: 1%;
}

.copyright {
    color: black;
    text-decoration: none;
    font-size: calc(1vw + 1vh);
}

.aviso {
    text-decoration: none;
}







/* Media styles for phones */

@media only screen and (max-width: 600px){

    .footer-container {
        width: 100%;
        max-width: 100%;
    }

    .copyright {
        color: black;
        text-decoration: none;
        font-size: calc(0.5vw + 0.5vh);
    }

    .aviso {
        text-decoration: none;
    }
}