.footer-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(0,auto));
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: auto;
    padding: 1%;
}

.copyright {
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: calc(0.8vw + 0.8vh);
}

.aviso {
    text-decoration: none;
    font-size: calc(0.8vw + 0.8vh);
}



/* Media styles for phones */

@media only screen and (max-width: 600px){
    .footer-container {
        display: grid;
        grid-template-rows: repeat(2, minmax(0,auto));
        width: 100%;
        max-width: 100%;
        padding: 1%;
    }
    
    .copyright {
        color: black;
        text-decoration: none;
        font-size: calc(0.5vw + 0.5vh);
    }
    
    .aviso {
        text-decoration: none;
        font-size: calc(0.5vw + 0.5vh);
    }
}