.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  }

.footer {
  grid-row: 3;
  padding-top: 1%;
}